# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    [{ 'label': 'Preview DOT', 'command': 'graphviz-preview:toggle' }]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Preview DOT'
      'submenu': [
        { 'label': 'Enable Preview', 'command': 'graphviz-preview:toggle' }
      ]
    ]
  }
]
